# --- Build / CMake ---
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Testing/

# --- Compilados ---
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.pdb
*.ilk
*.pch

# --- VSCode ---
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# --- Varios SO/editores ---
.DS_Store
Thumbs.db
*.swp
*.swo
*.log
